*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    background-color: rgb(222, 253, 244);
}

.chatbot{
    position: fixed;
    right: 45px;
    bottom: 55px;
    width: 400px;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.show-chatbot .chatbot{
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child{
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}

.chatbot header{
    background-color: rgb(10, 136, 233);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
}
.chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 15px 20px 70px;
}
.chat{
    display: flex;
}

.chat p{
    padding: 12px 16px;
    background: rgb(178, 235, 253);
    border-radius: 13px;
}

.outgoing{
    margin-top: 20px;
    justify-content: flex-end;
}

.incoming {
    margin-top: 20px;
}

.incoming span{
    margin-top: auto;
    color: white;
    background-color: #5790f3;
    margin-right: 7px;
    border-radius: 30px;
    padding: 4px;
    cursor: default;
}


.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
}

textarea {
    flex: 1;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none; 
    font-size: 15px;
    border: none;
    outline: none;
}

.chat-input span {
    display: inline-block;
    color: white;
    background-color: #464ffe; 
    padding: 9px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 9px;
}

.chat-input span:hover {
    background-color: #0056b3; 
}

.chatbot-toggler {
    position: fixed;
    right: 15px;
    bottom: 8px;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #464ffe;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatbot-toggler span{
    position: absolute;
}

.chatbot-toggler span:last-child{
    opacity: 0;
}
